$body-color: slateblue;

* {
  box-sizing: border-box;
}

body {
  color: $body-color;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

button {
  cursor: pointer;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 1em;
}

.container-user-list {
  margin: 0;
  padding: 0 10em;
  list-style: none;
  font-size: 1rem;
}

.container-user-list li {
  margin: 1em 0;
  font-size: 1.5rem;
  text-align: left;
  vertical-align: middle;
}

.container-user-list li strong {
  color: red;
}
