$body-color: slateblue;

* {
  box-sizing: border-box;
}

.container {
  color: $body-color;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 3em;
}

button {
  cursor: pointer;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 1em;
}

.container-user-list {
  margin: 0;
  padding: 0 10em;
  list-style: none;
  font-size: 1rem;
}

.container-user-list li {
  margin: 1em 0;
  font-size: 1.5rem;
  text-align: left;
  vertical-align: middle;
}

.container-user-list li strong {
  color: red;
}

table,
tr,
td {
  border: 1px solid blue;
}

tr {
  margin: 1em;
}

td {
  padding: 1em;
}
